*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas: "header header" "main aside" "footer footer";
    grid-template-columns: 80% 20%;
    grid-template-rows: 15% 70% 15%;
}

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D3B5E5;
}

header{
    height: 15vh;
    grid-area: header;
    display: grid;
    grid-template-areas: "Item1 Item2 .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 10%;
}

#txtBusca{
    background-color: #EEB5EB;
    float: left;
    padding-left: 5px;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    width: 200px;
}


.item1{
    grid-area: Item1;
    font-size: 5vw;
    color: white;
}

.item2{
    grid-area: Item2;
    font-size: 5vw;
    color: white;
    justify-self: center;
}

aside{
    height: auto;
    background-color: #F8BDFF;
    grid-area: aside;
}

main{
    height: 70vh;
    background-color: #EEB5EB;
    grid-area: main;
}

audio{
    display: flex;
    margin-top: 15px;
    margin-left: -300px;
    width: 300px;
}

section{
    margin-left: 50vh;
    margin-top: 10px;
}

h5{
    margin-left: -290px;
    margin-top: 15px;
    margin-bottom: -5px;
}

#informaçoes_2{
    display: flex;
    flex-direction: double column;
    height: auto;
    grid-area: main;
    margin-top: 0px;
    margin-left:10px;
    margin-bottom: 0px;
}

footer{
    height: 15vh;
    background-color: #D3B5E5;
    grid-area: footer;
}