*{
    margin: 1;
    padding: 0.5;
    background-color: rgb(192, 192, 192);
    font-family: 'Oranienbaum',
    Arial, Helvetica, sans-serif;
}

/* -------------------- HEADER ------------------------ */

header{
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: larger;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.primeiro_nav_cabecalho{
    display: flex;
    flex-direction: row;
}

.primeira_nav-link-diferente{
    color: black;
    font-weight: bold;
}

.primeira_nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.box-linha-vertical{
    height: 20px;
    border-right: 2px solid rgb(0, 0, 0);
}

/* -------------------- MAIN ------------------------ */

#lista1{
    margin-top: 1px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#lista2{
    margin-bottom: 5vh;
    margin-top: 1px;
    margin-right: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#lista3{
    margin-top: 1px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#lista4{
    margin-top: 1px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#valor{
    font-weight: bold;
    color: red;
    font-size: larger;
}

#linha {
    margin-left: 2%;
    width: 42vw;
    border-bottom: 1px solid #000000;
}

#linha2{
    margin-left: 55%;
    margin-top: 3px;
    width: 42vw;
    border-bottom: 1px solid #000000;
}

.primeiro_botao{
    width: 12vw;
    background-color: #3B3131;
    border: none;
    border-radius: 2px;
    height: 5vh;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 3vh;
    margin-top: 5vh;
    margin-left: 42vw;
    font-weight: bold;
}

.fotinha{
    margin-left: 33vw;
    width: 50vw;
    height: 80vh;
    color: white;
    background-image: url(./assets/photo-1533777857889-4be7c70b33f7\ 2.svg);
}

.texto{
    margin-top: -63vh;
    margin-left: 16vw;
    width: 30vw;
    height: 50vh;
    border: rgb(243, 238, 238);
    background-color: rgb(243, 238, 238);
    box-shadow: -30px -30px 0px rgb(243, 238, 238);
    margin-bottom: 20vh;
}

h4{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}

.foto3{
    width: 97vw;
    height: 60vh;
    border: rgb(0, 0, 0);
    background-image: url(./assets/photo-1585144570839-e429bb95ffb4\ 2.svg);
    margin-bottom: 9vh;
}

#titulo2{
    color: white;
    margin-left: 35vw;
    font-size: 5vw;
    background-color: transparent;
    margin-top: 50px;
}

#texto-foto{
    margin-top: 1vh;
    margin-left: 26vw;
    color: white;
    font-size: larger;
    background-color: transparent;
}

.segundo_botao{
    text-decoration: underline;
    width: 25vw;
    background-color: #3b3939;
    border: none;
    border-radius: 40px;
    height: 8vh;
    color: white;
    font-weight: 600;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 37vw;
    font-size: 20px;
}


/* -------------------- FOOTER ------------------------ */

footer{
    height: 11vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

ol{
    list-style: none;
}

.principais{
    margin-top: 10px;
}

.principal{
    font-size: 25px;
}

#foto3{
    width: 1vw;
    height: 2vh;
}

/* -------------------- MOBILE TABLET ------------------------ */

@media screen and (min-width:550px) and (max-width:770px) {
   
    .primeiro_botao{
        width: 15vw;
        height: 7vh;
        font-weight: 500;
        margin-left: 40vw;
    }

    .segundo_botao{
        width: 30vw;
        height: 10vh;
        font-weight: 500;
    }

    .foto3{
        width: 97vw;
    }

    #titulo2{
        margin-left: 20vw;
        font-size: 10vw;
    }
    
    #foto3{
        width: 3vw;
        height: 4vh;
    }

    .texto{
        width: 40vw;
        height: 30vh;
        margin-bottom: 30vh;
    }
}

/* -------------------- MOBILE COMPUTADOR ------------------------ */

@media screen and (min-width:771px) and (max-width:1200px){

    .primeiro_botao{
        width: 17vw;
        height: 5vh;
        font-weight: 600;
        margin-left: 40vw;
        font-size: larger;
    }

    .segundo_botao{
        width: 31vw;
        height: 6vh;
        font-weight: 500;
    }

    .foto3{
        width: 97vw;
    }

    #titulo2{
        margin-left: 20vw;
        font-size: 10vw;
    }
    
    #foto3{
        width: 2vw;
        height: 3vh;
    }

    .texto{
        width: 35vw;
        height: 15vh;
        margin-bottom: 30vh;
    }

}