
*{
    margin: 0;
    padding: 0;
    font-family: 'Oranienbaum', 
    Arial, Helvetica, sans-serif;
}

header {
    background-image: url(./assets/culinaria.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30vh;

    display: flex;
    flex-direction: column;
}

.cabecalho-primeiro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 1vw;
}

h1 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.primeiro-nav-cabecalho {
    /* border: 1px solid black; */
    width: 45vw;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: white;
}

.primeira_nav-link {
    text-decoration: none;
}

.imagem_cabecalho {
    width: 3vw;
}

.cabecalho-segundo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    gap: 10px;
}

.segunda_nav-link {
    font-size: 12vw;
    text-transform: uppercase;
}

/* ------------MAIN--------- */

main {
    min-height: 75vh;
}

.primeira_sessao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

h3 {
    width: 38vw;
    text-align: center;
    font-weight: 400;
    margin-top: 5px;
}

.primeira_sessao_paragrafo {
    text-align: center;
    width: 90vw;
    font-size: 10px;
}

#primeira_sessao_botao {
    width: 20vw;
    background-color: #3B3131;
    border: none;
    border-radius: 2px;
    height: 2.5vh;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 3vh;
}

.segunda_sessao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imagens_sessao {
    width: 33.3vw;
    object-fit: cover;
    /* min-height: 20vh; */
}

footer {
    height: 3vh;
    background-color: black;
}

/* -----------------MOBILE tablet----------------- */

@media screen and (min-width:550px) and (max-width:770px) {
    h1 {
        font-size: 30px;
    }

    .primeiro-nav-cabecalho {
        width: 50vw;
        font-size: 20px;
    }

    .cabecalho-segundo {
        margin-top: 5vh;
        gap: 30px;
        /* padding-bottom: 2vh; */
    }
    
    h3 {
        width: 30vw;
        margin-top: 10px;
    }

    .primeira_sessao_paragrafo {
        font-size: 13.5px;
    }

    #primeira_sessao_botao {
        width: 23vw;
        height: 4vh;
    }
}



/* -----------------Mobile computador------------------- */

@media screen and (min-width:771px) and (max-width:1200px){
    header{
        height: 40vh;
    }

    h1{
        font-size: 40px;
    }

    .primeiro-nav-cabecalho {
        width: 45vw;
        font-size: 23px;
    }

    h3{
        margin-top: 15px;
        font-size: 35px;
        width: 35vw;
    }

    .primeira_sessao_paragrafo {
        font-size: 20px;
        font-weight: 400;
        width: 70vw;
        margin-top: 10px;
    }
    
    #primeira_sessao_botao {
        height: 5vh;
        font-size: 19px;
        margin-top: 10px;
    }

    .imagens_sessao {
        width: 30vw;
        /* min-height: 15vh; */
        /* object-fit: none; */
    }
}