*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}

header{
    height:50%;
    background-color: saddlebrown;

}

.titulo{
    height: 20px;
    font-size: small;
    display: block;
    text-align: center;
    gap:30vh;
    font-family: Georgia;
}

.info{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;

}

nav{
    display: flex;
    justify-content: space-around;
    width: 20vw;
    /* border: 1px solid black; */
}

#texto{
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-size: 19px;
    font-family: Georgia;
   
}


svg{
    color:rgb(0, 0, 0);
}

body{
    background-color: lightgray;
    
 
}
#txtBusca{
  float:left;
  color: transparent;
  /* background-color:transparent; */
  padding-left:5px;
  font-size:18px;
  /* border:none; */
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  height:32px;
  width:260px;
}

#txtBusca::placeholder{
    color: black;
    
}

main{
    background-color: lightgray;
    margin-top: 20px;
    /* display:flex; */
    min-height:80vh;
    /* justify-content: center; */
    /* align-items: center; */
}


#p class{
    color: rgb(0, 0, 0);
}

.slider {
    display: block;
    height: 350px;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}


.slider li {
    list-style: none;
    position: absolute;
}


.slider img {
    margin: auto;
    height: 280px;
    width: 900px;
    vertical-align: top;
}
.slider input {
    display: none;
    
}

.slider label {
    background-color: #000000;
    bottom: 2px;
    margin-right: 45%;
    cursor: pointer;
    display: flex;
    height: 3px;
    position: absolute;
    width: 25px;
    z-index: 10;
    
}

.slider li:nth-child(1) label {
    right: 10px;
}

.slider li:nth-child(2) label {
    right: 40px;
}

.slider li:nth-child(3) label {
    right: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}


section{
    display:flex;
    gap: 30px;
    margin-bottom: 20px;
}


.card {
    background-color: white;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    

  }

  h2{
    font-size: 17px;
  }

body {
    color: #000;
    font: 12px Verdana, sans-serif;
}

#conteudo {
    width: 70%;
    float: right;
    text-align: center;
}

#menu {
    width: 15%;
    margin: 0; padding: 0;
    float: left;
    
}

#menu ul li {
    margin: 0; padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    list-style-type: none;
    
}

#menu a:link {
    background: #F5F5F5;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}

#menu a:hover {
    background: #E5F0FF;
    color: #039;
    
    
}





.card button {
    border: none;
    outline: 0;
    padding: 35px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    height: px;
    margin-top: 15px;
}
  
.card button:hover {
    opacity: 0.50;
}

img{
    width: 95%;
    height: 30vh;
}
#p class{
    color: rgb(0, 0, 0);
}

#ultima_imagem{
        height: 280px;
        margin-left:20%;
        width: 830px;
        margin-bottom: 10%;


}

footer{
    color:#ffffff;
    background-color: saddlebrown;
    /* position: relative; */
    padding: 5%;
    /* margin-top: 142%; */
    /* height: 150px; */
}

.info-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}